.top-nav {
    display: flex;
    background-color: #222;
    padding: 10px;
  }
  
  .top-nav a {
    color: white;
    margin-right: 20px;
    text-decoration: none;
  }
  
  .top-nav a.active {
    font-weight: bold;
    border-bottom: 2px solid yellow;
  }  